# General Mac-specific things.
# ......................................................................

.DS_Store


# General Emacs things.
# ......................................................................

*~
.#*
.git/COMMIT_EDITMSG
